.button{
    padding:1rem 1.5rem ;
    font-size:1rem;
    border:2px solid #ccc;
    border-radius: 0.5rem;
    width:100%;
    background-color: #33f;
    color:#fff;
    text-transform: uppercase;
    box-shadow:0.3rem 0.3rem 0.5rem #ccc;
    font-weight: 600;
    letter-spacing: 1px;
}